/* Change the font of the website */
body {
  font-family: 'Sen', sans-serif;
}

/* Styles for each button */
button {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  background-color: #573fc4;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Hover effect for each button */
button:hover {
  background-color: red;
}

/* For button that takes you to GitHub Repo */
#github-btn a {
  text-decoration: none;
  color: white;
}

/*
  CSS Varialbles. This turned out to be really useful! I learned from here:
  https://medium.com/@fionnachan/dynamic-number-of-rows-and-columns-with-css-grid-layout-and-css-variables-cb8e8381b6f2
*/
:root {
  --rowNum: 4;
  --colNum: 5;
  --randomBackgroundColor: #2196F3;
}

/* This represents the container that contains the entire grid */
.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(var(--colNum), auto);
  background-color: var(--randomBackgroundColor);
  padding 10px;
}

/* This represents on box in the container */
.grid-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}
